* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(227, 50, 189);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    position: relative;
    max-width: 20rem;
    height: 33.5rem;
    background-color: rgb(19, 13, 13);
    padding: 0 0.5rem;
}
.timeContainer {
    display: flex;

}
#display1, #display2 {
    width: 19rem;
    height: 3.3rem;
    border: none;
    color: black;
    text-align: right;
}
#display1 {
    padding-right: 1rem;
}
#display2 {
    font-size: 50px;
    padding-right: 1rem;
}
h3 {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 6px;
}
#amPm {
    position: absolute;
    font-size: 10px;
    top: 4px;
    right: 8rem;
    font-weight: bold;
}
.size {
    width: 4.5rem;
    height: 3.2rem;
    margin: 0.4px;
    margin-top: 10px;
    background-color: black;
    color: aqua;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.size:hover {
    background-color: rgb(11, 11, 11);
    border: none;
}
#zero {
    width: 14.1rem;
    background-color: rgb(198, 82, 11);;
    color: white;
    border: brown;
} 
#zero:hover {
    background-color: rgb(143, 62, 62);
    border: none;
}
#clear, #addMinus, #division, #multiplication, #subtraction, #addition, #equality {
    color: rgb(198, 82, 11);
    font-size: 20px;
}
#clear {
    color: rgb(198, 82, 11);
}